<!-- 头部导航栏 -->

<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="container is-max-desktop">
        <div class="navbar-brand">
            <div class="navbar-item is-family-code has-text-weight-bold">
                <a class="has-text-text" href="{{ site.baseurl }}/">{{ site.title }}</a>
            </div>
            <a class="navbar-burger" role="button" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-end">
                {% for item in site.data.nav %}
                    <a class="navbar-item is-tab" href="{{ item.url }}">
                        {{ item.title }}
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</nav>

    