<div class="card">

    <div class="card-image">
        <figure class="image is-1by1">
            <img src="{{music.img}}" alt="{{music.title}}">
        </figure>
    </div>

    <div class="card-content">
        <div class="media" style="height: 3rem;">
            <div class="media-content">
                <p class="title is-5">{{music.title}}</p>
                <p class="subtitle is-6">{{music.author}}</p>
            </div>
        </div>
        <div class="title is-5">{{music.year}}</div>
    </div>

</div>