<div class="card">

    <div class="card-image">
        <figure class="image is-1by1">
            <img src="{{music.img}}" alt="{{music.title}}">
        </figure>
    </div>

    <div class="card-content">
        <div class="media" style="min-height: 3rem;">
            <div class="media-content">
                <div class="level my-0">
                    <div class="level-left">
                        <a href="{{music.default-link}}" target="_blank">
                            <p class="title is-5 music-card-title">{{music.title}}</p>
                        </a>
                    </div>
                    <div class="level-right"><p class="subtitle is-6">Rel. {{music.release}}</p></div>
                </div>
                <div class="level">
                    <div class="level-left">
                        <p class="subtitle is-6 my-0">{{music.author | join: " & "}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="level">
            <div class="level-left"><p class="title is-5">{{music.year}}</p></div>
            <div class="level-right" style="flex-direction: row;">
                {% for link in music.links %}
                <a href="{{link.link}}" target="_blank">
                    {% for icon in site.data.icon_map %}
                    {% if icon.name == link.name %}
                    <i class="{{icon.icon}} {{icon.color}}"></i>
                    {% endif %}
                    {% endfor %}
                </a>
                {% endfor %}
            </div>
        </div>
    </div>

</div>