<div class="card">

    <div class="card-image">
        <figure class="image is-1by1">
            <img src="{{music.img}}" alt="{{music.title}}">
        </figure>
    </div>

    <div class="card-content">
        <div class="media" style="height: 3rem;">
            <div class="media-content">
                <div class="level my-0">
                    <div class="level-left">
                        <a href="{{music.link}}" target="_blank">
                            <p class="title is-5">{{music.title}}</p>
                        </a>
                    </div>
                    <div class="level-right"><p class="subtitle is-6">{{music.release}}</p></div>
                </div>
                <p class="subtitle is-6">{{music.author}}</p>
            </div>
        </div>

        <div class="level">
            <div class="level-left"><p class="title is-5">{{music.year}}</p></div>
            <div class="level-right">
                
                {% if music.applemusic %}
                <a href="{{music.applemusic}}" target="_blank">
                    <i class="fa-brands fa-itunes-note has-text-danger-50"></i>
                </a>
                {% endif %}
                {% if music.spotify %}
                <a href="{{music.spotify}}" target="_blank">
                    <i class="fa-brands fa-spotify has-text-primary"></i>
                </a>
                {% endif %}
                {% if music.kugou %}
                <a href="{{music.kugou}}" target="_blank">
                    <i class="fa-solid fa-k has-text-link"></i>
                </a>
                {% endif %}
                {% if music.bilibili %}
                <a href="{{music.bilibili}}" target="_blank">
                    <i class="fa-brands fa-bilibili has-text-danger-80"></i>
                </a>
                {% endif %}
            </div>
        </div>
    </div>

</div>