<!-- 显示在index页面的blog块 -->

<div class="block my-6">

    <div class="title is-5 my-2">
        <a class="has-text-text" href="{{ include.post.url | relative_url }}">{{ include.post.title }}</a>
    </div>

    <div class="level my-2">
        <div class="level-left">
            <div class="level-item">
                <span class="icon-text">
                    <span class="icon has-text-grey"><i class="fas fa-calendar"></i></span>
                    <span class="has-text-grey">{{ include.post.date | date: "%Y-%m-%d" }}</span>
                </span>
            </div>
            <div class="level-item">
                <span class="icon-text">
                    <span class="icon has-text-grey"><i class="fas fa-tag"></i></span>
                    <span>
                        {% for tag in include.post.tags %}
                            <a class="has-text-grey" href="/tags/{{ tag | slugify }}">{{ tag }}</a>
                        {% endfor %}
                    </span>
                </span>
            </div>
        </div>
    </div>

    <div class="block my-2 has-text-grey">{{ include.post.excerpt }}</div>

    <span class="icon-text my-3">
        <a class="has-text-link-70 has-text-weight-bold" href="{{ include.post.url | relative_url }}">
            阅读全文
            <i class="fas fa-angle-right"></i>
        </a>
    </span>

</div>