<!-- 显示在index页面的blog块 -->

<div class="block my-6" data-tags="{{ include.post.tags | join: ' ' }}">

    <div >
        <a href="{{ include.post.url | relative_url }}">
            <div class="title is-5 my-2 hover-blue">{{ include.post.title }}</div>
        </a>
    </div>

    <span class="icon-text">
        <span class="icon has-text-grey"><i class="fas fa-calendar"></i></span>
        <span class="has-text-grey">{{ include.post.date | date: "%Y-%m-%d" }}</span>
    </span>

    <span class="icon-text">
        <span class="icon has-text-grey"><i class="fas fa-tag"></i></span>
        <span>
            {% for tag in include.post.tags %}
                <a class="has-text-grey" href="/tag/{{ tag | slugify }}">
                    <span class="hover-blue">{{ tag }}</span>
                </a>
            {% endfor %}
        </span>
    </span>

    <div class="block my-2 has-text-grey">{{ include.post.excerpt }}</div>

    <span class="icon-text my-3">
        <a class="has-text-link-70 has-text-weight-bold" href="{{ include.post.url | relative_url }}">
            <span class="hover-blue is-font-hei">阅读全文<i class="fas fa-angle-right"></i></span>
        </a>
    </span>

</div>