<!-- 显示在index页面的blog块 -->

<div class="blog-card p-6 my-6 rounded-lg shadow-sm hover:shadow-md transition-shadow duration-300 bg-white">

    <div class="title is-5 my-2">
        <a class="has-text-dark hover:text-blue-600 transition-colors duration-200" href="{{ include.post.url | relative_url }}">{{ include.post.title }}</a>
    </div>

    <div class="level my-3">
        <div class="level-left">
            <div class="level-item">
                <span class="icon-text">
                    <span class="icon has-text-gray-500"><i class="fas fa-calendar"></i></span>
                    <span class="has-text-gray-500">{{ include.post.date | date: "%Y-%m-%d" }}</span>
                </span>
            </div>
            <div class="level-item">
                <span class="icon-text">
                    <span class="icon has-text-gray-500"><i class="fas fa-tag"></i></span>
                    <span>
                        {% for tag in include.post.tags %}
                            <a class="has-text-gray-500 hover:text-blue-600 transition-colors duration-200 mr-2" href="/tags/{{ tag | slugify }}">#{{ tag }}</a>
                        {% endfor %}
                    </span>
                </span>
            </div>
        </div>
    </div>

    <div class="block my-3 has-text-gray-700 line-clamp-3">{{ include.post.excerpt }}</div>

    <span class="icon-text my-3">
        <a class="has-text-blue-600 has-text-weight-bold hover:text-blue-800 transition-colors duration-200" href="{{ include.post.url | relative_url }}">
            阅读全文
            <i class="fas fa-angle-right ml-1"></i>
        </a>
    </span>

</div>