<aside class="toc px-3" id="toc">
    <div class="block my-0">
        <div class="toc-title icon" id="toc-title-icon">
            <span class="hover-blue" style="transform: translateY(-50%);">
                <i class="fa-solid fa-list"></i>
            </span>
        </div>
    </div>
    
    <ul id="side-toc" class="mx-3 is-hidden px-3" style="border-left: 1px solid #e5e5e5;">
    </ul>
</aside>

<aside class="toc-back-to-top px-3 mb-4">
    <div class="block my-0">
        <div class="icon" id="toc-back-to-top-icon" style="cursor: pointer;">
            <span class="hover-blue"><i class="fa-solid fa-caret-up fa-lg"></i></span>
        </div>
    </div>
</aside>

<script>
    // 目录标题点击事件
    document.getElementById('toc-title-icon').addEventListener('click', function() {
        document.getElementById('side-toc').classList.toggle('is-hidden');
    });
    // 目录返回顶部点击事件
    document.getElementById('toc-back-to-top-icon').addEventListener('click', function() {
        window.scrollTo({
            top: 0,
            behavior: 'smooth'
        });
    });

    // 获取所有标题
    const headers = document.querySelectorAll('.content h1, .content h2, .content h3');
    var sideToc = document.getElementById('side-toc');
    // 遍历所有标题，创建目录项
    headers.forEach((header, index) => {
        var tocItem = document.createElement('li');
        tocItem.id = 'side-toc-item-' + index;
        tocItem.classList.add('toc-item');
        tocItem.classList.add('my-3');
        switch (header.nodeName) {
            case 'H1':
                tocItem.classList.add('px-0');
                break;
            case 'H2':
                tocItem.classList.add('px-2');
                break;
            case 'H3':
                tocItem.classList.add('px-4');
                break;
            default:
                break;
        }
        tocItem.innerHTML = '<a href="#' + header.id + '" class="has-text-text">' +
            '<span class="hover-blue">' + header.innerHTML + '</span>'
            + '</a>';
        sideToc.appendChild(tocItem);
    });

    // 加粗对应的目录项
    window.addEventListener('scroll', function() {
        // 窗口滑动到对应标题时，计算每个标题到顶部的距离
        var distances = [];
        headers.forEach((header, index) => {
            const tocItem = document.getElementById('side-toc-item-' + index);
            distances.push(Math.abs(header.getBoundingClientRect().top - 111));
        });
        console.log(distances);
        // 找到最近的标题
        var minDistance = Math.min(...distances);
        var minDistanceIndex = distances.indexOf(minDistance);
        // 加粗最近的标题对应的目录项并移除其他目录项的加粗样式
        distances.forEach((distance, index) => {
            if (distance === minDistance) {
                document.getElementById('side-toc-item-' + index).classList.add('toc-active');
            } else {
                document.getElementById('side-toc-item-' + index).classList.remove('toc-active');
            }
        });
    });
</script>