
@media screen and (max-width: 1280px){

    /* grid templates*/
        .grid {
            display: grid;
            grid-template-columns: 19fr 19fr 24fr 19fr 19fr;
            grid-template-rows: auto auto auto auto auto;
            column-gap: 10px;
            padding: 10px 0 10px 0;
            margin: auto;
        }
    
        /* items */
    
        .item-left-big {
            grid-column: 1 / 6;
            grid-row: 2 / 3;
        }
    
        .item-right-small {
            grid-column: 1 / 6;
            grid-row: 3 / 4;
        }
    
        .item-left-small {
            grid-column: 1 / 6;
            grid-row: 2 / 3;
        }
    
        .item-right-big {
            grid-column: 1 / 6;
            grid-row: 3 / 4;
        }
    
        .item-left-tiny {
            grid-column: 1 / 6;
            grid-row: 2 / 3;
        }
    
        .item-mid {
            grid-column: 1 / 6;
            grid-row: 3 / 4;
        }
    
        .item-right-tiny {
            grid-column: 1 / 6;
            grid-row: 4 / 5;
        }
    
        .item-up {
            grid-column: 1 / 6;
            grid-row: 1 / 2;
        }
    
        .item-down {
            grid-column: 1 / 6;
            grid-row: 5 / 6;
        }
    }
    