@import "/assets/css/portable/layout.css";

@media screen and (max-width: 1280px) {

    /* Navigation Bar */

    nav {
        width: 1200px;
        list-style: none;
        
    }

    .nav-list {
        display: table;
        list-style: none;
        padding: 0px;
        margin: 0 auto 0 auto;
    }

    .nav-list-item {
        width: 100px;
        text-align: center;
        display: inline-block;
    }

    /* Header and Footer contents*/

    .header-content {
        width: 100%;
        height: 50px;
        margin: auto;
        display: flex;
        align-items: center;
    }

    .footer-content {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        grid-template-areas: "a" "b" "c";
        margin: auto;
        width: 100%;
        min-height: 100px;
        height: 100%;
        padding: 20px 0px 20px 0px;
    }

    .footer-top {
        grid-area: a;
        margin: auto;
        display: flex;
        align-items: center;
        padding: 10px 0 10px 0;
    }

    .footer-mid {
        grid-area: c;
        margin: auto;
        display: flex;
        align-items: center;
        padding: 10px 0 10px 0;
    }

    .footer-end {
        grid-area: b;
        margin: auto;
        display: flex;
        align-items: center;
        padding: 10px 0 10px 0;
    }

    .footer-nav-content {
        width: 100px;
        height: 30px;
        text-align: center;
        margin: auto;
    }

    /* Grid, container and items */

    .container {
        width: 100%;
        margin: auto;
        padding: 0 10px 0 10px;
        min-height: 800px;
    }

    /* Other */

}