@import "bulma.css";
@import "syntax.css";
@import "animation.css";

:root {
    --default-blue: #5c6fff;
    --hover-blue: #41b0f4;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/assets/font/JetBrainsMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/assets/font/JetBrainsMono-ExtraBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'LXGWWenKai';
    src: url('/assets/font/LXGWWenKaiLite-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LXGWNeoHei';
    src: url('/assets/font/NeoXiHeiCode-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LXGWWenKaiMono';
    src: url('/assets/font/LXGWWenKaiMono-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@media screen and (max-width: 768px) {
    .hide-on-phone {
        display: none !important;
    }
}

.is-font-kai {
    font-family: 'LXGWWenKai', sans-serif;
}

.is-font-hei {
    font-family: 'LXGWNeoHei', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "LXGWNeoHei", sans-serif;
    scroll-margin-top: 7rem;
    scroll-margin-bottom: 7rem;
}

.left-border {
    border-left: 5px solid var(--default-blue);
    padding-left: 1rem;
}

/* 文章图片 */
.post-img img {
    border-radius: 0.75rem;
}

p img {
    border-radius: 0.75rem !important;
}

p:has(+ div.caption) {
    margin-bottom: 0 !important;
}

.caption {
    font-size: 0.8rem;
    margin-bottom: 1em;
    text-align: center;
    color: gray;
}

/* 目录 */

.toc {
    position: sticky;
    top: 5rem;
}

.toc-title {
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}

.toc-back-to-top {
    position: sticky;
    top: 49rem;
}

.toc-item {
    font-size: 0.75em;
}

.is-hidden {
    display: none;
}

.toc-active {
    font-weight: bold;
}

/* 文章卡片-小 */
.post-block-small {
    border-radius: 0.75rem;
    transition: all 0.1s ease-in-out;
    transition-property: transform shadow;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.post-block-small:hover {
    background-color: hsl(221, 14%, 98%);
    transform: translateY(-0.2rem);
    box-shadow: 0 0 10px rgba(33, 33, 33, 0.07);
}

/* 推荐内容 */
.recommend-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* 404 页面 */
.not-found{
    font-size: 10rem;
}
