@import "bulma.css";
@import "syntax.css";

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/assets/font/JetBrainsMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/assets/font/JetBrainsMono-ExtraBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

/* "阅读全文" hover 箭头动画 */
.icon-text a .fa-angle-right {
    transition: transform 0.1s ease;
}

.icon-text a:hover .fa-angle-right {
    transform: translateX(5px);
}

/* 404 页面 */
.not-found{
    font-size: 10rem;
}