@import "bulma.css";
@import "syntax.css";
@import "animation.css";

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/assets/font/JetBrainsMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/assets/font/JetBrainsMono-ExtraBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

/* 404 页面 */
.not-found{
    font-size: 10rem;
}