/* PC screen */
@media screen and (min-width: 1280px) {

    /* Navigation Bar */

    nav {
        min-width: 1280px;
        max-width: 100%;
        list-style: none;
    }

    /* Header and Footer contents*/

    .header-content {
        margin: auto;
        min-width: 1280px;
        max-width: 1600px;
        height: 100%;
        padding: 10px 100px 10px 100px;
    }

    .footer-content {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: auto;
        grid-template-areas: "a b c d";
        margin: auto;
        min-width: 1280px;
        max-width: 1600px;
        min-height: 100px;
        height: 100%;
        padding: 10px 100px 10px 100px;
    }

    /* Grid container and items */

    .container-3 {
        display: grid;
        grid-template-columns: 20% 60% 20%;
        grid-template-rows: auto;
        grid-template-areas: "l m r";
        min-width: 1280px;
        max-width: 1600px;
        margin: auto;
        height: 100%;
        padding: 10px 100px 10px 100px;
    }

    .container-2 {
        display: grid;
        grid-template-columns: 38% 62%;
        grid-template-rows: auto;
        grid-template-areas: "l r";
        min-width: 1280px;
        max-width: 1600px;
        margin: auto;
        height: 100%;
        padding: 10px 100px 10px 100px;
    }

    .container-2r {
        display: grid;
        grid-template-columns: 62% 38%;
        grid-template-rows: auto;
        grid-template-areas: "l r";
        min-width: 1280px;
        max-width: 1600px;
        margin: auto;
        height: 100%;
        padding: 10px 100px 10px 100px;
    }

    /* Content and Sidebar */

    .content {
        margin-left: 5px;
        margin-right: 5px;
        height: 100%;
        background-color: #fff;
    }

    .sidebar {
        margin-left: 5px;
        margin-right: 5px;
        background-color: #fff;
    }

    /* Post */

    .post-display {
        color: #333;
        background-color: aqua;
        padding: 10px;
    }

    .img-true {
        height: 400px;
    }

    .img-false {
        height: 40px;
    }

    /* Other */

    .logo {
        width: 50px;
        height: 50px;
        object-fit: contain;
    }
}