
.tag-block {
    margin: 5px;
    padding: 3px 10px 4px 10px;
    display: inline-block;
    border-radius: 50px;
    background-color: #70a1ff;
    color: #fff;
}

.tag-block:hover {
    background-color: #1e90ff;
}