---
layout: blogs
title: Blogs
---

<div class="item-up">
    <div class="content-block">
        Upper
    </div>
</div>

<div class="item-left-big">

    <div class="content-block">
        <h1>All posts</h1>
        <div class="line-full"></div>

        <div class="post-block-list">
            {% for post in paginator.posts %}
                {% include post-block.html %}
            {% endfor %}
        </div>

        <div class="line-full"></div>
        {% include paginator.html %}
    </div>

</div>

<div class="item-right-small">
    <div class="content-block">
        Test
    </div>
</div>