---
layout: blogs
title: Blogs
---

<div class="blogs_container">
    <div class="blogs_box1">
        {% for post in site.posts %}
            <a href="{{ post.url }}" class="blogs_item">
                <img src="/img/{{ post.img }}" alt="{{ post.title }}" class="blog_img">
                <div class="blog_info">
                    <div class="blog_subtitle">
                        {% for tag in post.tags %}
                            <span class="blog_tag">{{ tag }}</span>
                        {% endfor %}
                    </div>
                    <div class="blog_title">{{ post.title }}</div>
                    <div class="blog_subtitle">{{ post.date | date: "%b %d %Y" }}</div> 
                </div>
            </a>
        {% endfor %}
    </div>

    <div class="blogs_box2">
    </div>
    
</div>