@media screen and (min-width: 1280px) {
    /* Post blocks in Blog page */
    
    .post-display-container {
        display: grid;
        grid-template-columns: 80% 20%;
        grid-row: auto;
        grid-template-areas: "l r";
        background-color: #fff;
        padding: 10px;
    }

    .post-display-container:hover {
        box-shadow: 0px 0px 5px #333;
    }

    /* Post page*/

    .post-container {
        width: 100%;
        min-height: 100%;
        background-color: #fff;
    }

    .post-text {
        padding: 20px;
    }

    .post-img {
        padding-top: 10px;
        width: 100%;
    }
}