/* PC screen */

@import "/assets/css/res1280/index.css";
@import "/assets/css/res1280/about.css";
@import "/assets/css/res1280/blogs.css";
@import "/assets/css/res1280/post.css";

@media screen and (min-width: 1280px) {

    /* Navigation Bar */

    nav {
        min-width: 1280px;
        max-width: 1400px;
        list-style: none;
    }

    /* Header and Footer contents*/

    .header-content {
        margin: auto;
        display: flex;
        align-items: center;
        min-width: 1280px;
        max-width: 1400px;
        height: 50px;
    }

    .footer-content {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: auto;
        grid-template-areas: "a b c d";
        margin: auto;
        min-width: 1280px;
        max-width: 1400px;
        min-height: 100px;
        height: 100%;
        padding: 10px 0px 10px 0px;
    }

    /* Grid, container and items */

    .container {
        min-width: 1280px;
        max-width: 1400px;
        margin: auto;
        min-height: 800px;
    }

    .content-block {
        padding: 30px;
        background-color: #fff;
        margin: 10px 0 10px 0;
    }

    /* Other */

    .logo {
        width: 50px;
        height: 50px;
        object-fit: contain;
    }

    .line-short {
        border: 1px solid #ced6e0;
        margin: 30px auto 30px auto;
        width: 40%;
    }

    .line-full {
        border: 1px solid #ced6e0;
        margin: 30px auto 30px auto;
        width: 100%;
    }

}