/* PC screen */

@import "/assets/css/res1280/index.css";
@import "/assets/css/res1280/about.css";
@import "/assets/css/res1280/blog.css";
@import "/assets/css/res1280/post.css";

@media screen and (min-width: 1280px) {

    /* Navigation Bar */

    nav {
        min-width: 1280px;
        max-width: 100%;
        list-style: none;
    }

    /* Header and Footer contents*/

    .header-content {
        margin: auto;
        min-width: 1280px;
        max-width: 1600px;
        height: 100%;
        padding: 10px 100px 10px 100px;
    }

    .footer-content {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: auto;
        grid-template-areas: "a b c d";
        margin: auto;
        min-width: 1280px;
        max-width: 1600px;
        min-height: 100px;
        height: 100%;
        padding: 10px 100px 10px 100px;
    }

    /* Grid container and items */

    .container {
        display: grid;
        grid-template-columns: 19% 19% 24% 19% 19%;
        grid-template-rows: auto;
        min-width: 1280px;
        max-width: 1600px;
        margin: auto;
        min-height: 100%;
    }

    /* Content */

    .content-padded {
        padding: 10px 5px 10px 5px;
    }

    .content-block {
        padding: 10px;
        background-color: #fff;
        margin-bottom: 10px;
    }

    .content-block-high {
        padding: 10px;
        background-color: #fff;
        min-height: 100%;
    }

    /* Other */

    .logo {
        width: 50px;
        height: 50px;
        object-fit: contain;
    }
}