---
layout: base
---

<div class="index-img">

    <div class="index-img-grid">
        <div class="index-item-mid">
            <h1 class="index-img-name">
                Kecheng Zhang
            </h1>
        </div>

        <div class="index-item-down">
            <h2 class="index-img-about">
                <a href="/about.html" class="index-link">About ></a>
            </h2>
        </div>
    </div>

</div>

<div class="container">
    <div class="grid">
        {{ content }}
    </div>
</div>