---
layout: plain
---

<body class="has-navbar-fixed-top">
    {% include header.html %}
    
    <div class="mx-5">
        <div class="container is-max-tablet my-6">

            <div class="title is-1">{{page.title}}</div>

            <div class="level mb-4">
                <div class="level-left">
                    <div class="subtitle is-6">{{page.date | date: "%Y %b %d"}} - {{page.author}}</div>
                </div>
                <div class="level-right">{% include tags.html tags=page.tags %}</div>
            </div>

            {% if page.img %}
                <div class="post-img"><img src="{{page.img}}" alt="{{page.title}}"></div>
            {% else %}
                <div class="post-img"><img src="/assets/img/post-img/default2.jpg" alt="{{page.title}}"></div>
            {% endif %}

            {% if page.caption %}
                <div class="caption">{{page.caption}}</div>
            {% endif %}

            <div class="mt-4">{{page.excerpt}}</div>
        </div>

        <hr class="container is-max-tablet">

        <div class="columns is-gapless">
            <div class="column px-0 hide-on-phone">
            </div>
            <!-- 内容列 -->
            <div class="column is-narrow px-0 pt-0">
                <div class="container is-max-tablet my-6">
                    <div class="content">
                        {{content}}
                    </div>
                </div>
                <div class="container is-max-tablet my-6 ">
                    {% include bib.html refs=page.refs %}
                    {% include recommend.html%}
                </div>
            </div>
            <!-- 目录列 -->
            <div class="column px-0 pt-0 hide-on-phone">
                {% include side_toc.html %}
            </div>
        </div>
    </div>
    
    {% include footer.html %}
</body>
